EXCEL_PATH=./input/track_ids.xlsx
BATCH_SIZE=100
CONCURRENCY=5

SOLR_BASE_URL=http://solr.hungama.com/solr/music/select
SOLR_USERNAME=
SOLR_PASSWORD=
MEDIA_SUFFIXES=_320.mp3,_256.mp3,_128.mp3
MEDIA_URL_PREFIX=https://media.hungama.co

MDN_BASE_URL=http://mdn.hungama.com/streaming
MDN_AUTH_HEADER=Basic aHVuZ2FtYS5jb206aHVuZ2FtYS5jb20=
MDN_QUERY_STRING=duration=PT24H0M0S&cdn=s3&agent=application&cms=ms2&protocol=filedl

OUTPUT_DIR=~/Downloads
OUTPUT_EXT=wav
MISSING_LOG_PATH=~/Downloads/output.txt
CLEAR_MISSING_LOG_ON_START=true

FFMPEG_PATH=ffmpeg
FFMPEG_ARGS=-t 00:00:30.0 -ar 8000 -ac 1 -c:a pcm_alaw
